<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<link rel="stylesheet" type="text/css" href="style.css">
<main>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-6" style="color:white;"><i><b><%= title %></h1></i></b>
  </div>
</div>


    
    <main class="main">

      

      <section class="left"> 
        <h1 id="JoshuaEmmanuel"> Joshua Emmanuel </h1>
        <img src="uuoit08.jpg"  alt="Ontario tech" width="350px" height="200px">


        <p> Hi, my name is Joshua Emmanuel and I'm a Networking and I.T security 
           student at the  University of Ontario Institute of Technology. 

        </p>
      </section>
      <section class="right section">

        <iframe width="650" height="500" src="https://www.youtube.com/embed/1uuykzUfm-w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe>
      

        </section>
    </main>
    <div class="section_1">
      <div class="Projects">
        <h1 id="Projects"> Projects</h1>

      </div> 











</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
