<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<link rel="stylesheet" type="text/css" href="style.css">
<main>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-12" style="color:white;"><i><b><%= title %></h1></i></b>
    <hr class="my-12">
  </div>
</div>


    <main class="main">

      

      <section class="left"> 
        <h1 id="JoshuaEmmanuel"> Welcome </h1>
        


        <p>  

        This is a Car list webpage that shows a list of vehicles which are on sale.
        It gives you and idea what certain vehicle's market rate is.

        </p>
      </section>
      <section class="right section">

      <figure>
        <img class="imgCenter" src="/Assets/images/0x0.jpg" alt = "Sports Car" width=650px height=500px>
      </figure>

        
      

        </section>
    </main>

        <main class="main">

      

      <section class="left"> 

      
      <figure>
        <img class="imgCenter" src="/Assets/images/image.png" alt = "Car List" width=800px height=700px>
      </figure>
        



      </section>
      <section class="right section">
        <h1 id="JoshuaEmmanuel"> Instructions </h1>
        <p>  

      When clicking the car icon you will be brought to this page in which you will see a list of vehicles and their 
      <ul>
        <li>Car Model</li>
        <li>Owner </li>
        <li>Year </li>
        <li>Description </li>
        <li>Price </li>
    Users are able to edit the list by clicking on the edit button on the list which you prefer to edit. 
    Users are also able to add to the list by clicking on the add button in which you will be taken to a forum which you must fill to add to the list. 
    Lastly users are able to Delete from the list by clicking the delete button, you will recive a prompt just to double check.
      <br>
      </ul>     
        </p>

        
      

        </section>
    </main>




    
    



</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>





